/** Global Configurations **/

html {
    box-sizing: border-box;
    overflow-x: hidden;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-image: url(../img/app-background.png);
    color: white;
    font-family: 'Open Sans';
    margin: 0 auto;
    margin-bottom: 50px;
    overflow-x: hidden;
}

/** Header Container **/

.header-container {
    text-align: center;
}

.header-container h1 {
    font-size: 50px;
    margin-bottom: -10px;
    margin-top: 10px;
}

.header-container p {
    font-size: 30px;
}

/** Search Pokemon Input **/

.form-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 196px;
    margin: 0 auto;
    margin-bottom: 40px;
}

input {
    font-size: 15px;
    padding: 7px;
    border-radius: 5px;
    border: none;
}

input:focus {
    outline: none;
}

/** Pokemons Container **/

.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px
}

.pokemon-block {
    background-color: white;
    border-radius: 20px;
    width: 280px;
    height: 220px;
    text-align: center;
    backface-visibility: hidden;
}

.pokemon-block p {
    color: black;
}

.name {
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 20px;
}

.img-container {
    background-image: url(../img/blob.svg);
    background-repeat: no-repeat;
    background-position: center;
}

/** Searched Pokemon Container **/

.searched-pokemon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    margin-bottom: 35px;
}

/** Flip Card Container **/

.pokemon-block-back {
    transform: rotateY(180deg);
    position: absolute;
    bottom: 0%;
    backface-visibility: hidden;
    color: black;
    background-color: white;
    width: 280px;
    height: 220px;
    border-radius: 20px;
}

.pokemon-block img {
    width: 110px;
}


.pokemon-block-back p {
    margin: 0;
    margin-top: 20px;
}

.back-title {
    margin-top: 10px !important;
    margin-bottom: 15px !important;
}

.flip-card:hover .card-container {
    transform: rotateY(180deg);
}

.card-container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/** Types Container **/

.types {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-bottom: 15px;
    margin-top: -15px;
}

/** Individual Type Container **/

.type1, .type2 {
    display: flex
}

/** Stats Container **/

.stats p {
    font-size: 17px;
    margin: 0;
    text-align: center;
}

/** Buttons **/

.btnDelete {
    background-color: #990000;
    border: none;
    border-radius: 5px;
    color: white;
}

.btnDelete:hover {
    cursor: pointer;
    background-color: #660000;
}

/** Pagination **/

.pagination-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 35px;
}

.prevBtn, .nextBtn {
    color: white;
    padding: 10px;
    background-color: #1aa3ff;
    border: none;
    border-radius: 5px;
    text-shadow: 1px 1px 1px black;
}

.prevBtn:hover, .nextBtn:hover {
    cursor: pointer;
    background: cornflowerblue;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0,77,128,1);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0,77,128,1);
    box-shadow: 0px 0px 5px 3px rgba(0,77,128,1);
}

.disabled:hover {
    cursor: not-allowed;
}

/** Svg Images Section **/

.svg-image {
    width: 30px;
    margin-top: 15px;
    margin-right: 10px;
}

@media (min-width: 768px) {

    /** Header Container **/

    .header-container h1 {
        font-size: 80px;
    }

    .header-container p {
        font-size: 30px;
    }

    /** Search Pokemon Input **/

    .form-container {
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 20px;
    }

    input {
        padding: 15px 100px 15px 10px;
        font-size: 18px;
    }

    /** Pokemons Container **/

    .pokemon-block {
        width: 300px;
        height: 226px;
    }

    .pokemon-block-back {
        width: 300px;
        height: 226px;
    }

    /** Searched Pokemon Container **/

    .searched-pokemon-container {
        flex-direction: row;
    }

    /** Buttons **/

    .btnDelete {
        height: 50px;
        width: 249px;
        font-size: 18px;
    }
}